@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

.wallpaper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 25%;
    height: 73vh;
    background-color: #08546c;
    border-radius: 25px 0 0 25px;
}

.content{
    width: 50%;
    height: 75vh;
    background-color: #a0bacc;
    border-radius: 0 25px 25px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.imagen{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen img{
    height: 40vh;
}

.texto{
    height: 2vh;
    font-size: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
    color: #a0bacc;
}

.logo{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    height: 10vh;
}

.formulario{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.campos{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parte-1{
    display: flex;
}

.input-nombre {
    width: 40vh; 
    padding: 8px;
    font-size: 16px;
    border: 3px solid #08546c;
    background-color: #ececec;
    border-radius: 25px;
    box-sizing: border-box;
    margin-right: 1vh;
}

.input-identificacion {
    width: 40vh; 
    padding: 8px;
    font-size: 16px;
    border: 3px solid #08546c;
    background-color: #ececec;
    border-radius: 25px;
    box-sizing: border-box;
    margin-left: 1vh;
}

.input-email {
    width: 82vh;
    padding: 8px;
    font-size: 16px;
    border: 3px solid #08546c;
    background-color: #ececec;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 15px; 
}

.parte-3{
    display: flex;
}

.input-telefono {
    width: 40vh;
    padding: 8px;
    font-size: 16px;
    border: 3px solid #08546c;
    background-color: #ececec;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-right: 5px;
}

.input-direccion {
    width: 40vh;
    padding: 8px;
    font-size: 16px;
    border: 3px solid #08546c;
    background-color: #ececec;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-left: 5px;
}

.parte-4{
    display: flex;
}

.input-catalogo {
    width: 40vh;
    padding: 8px;
    font-size: 16px;
    border: 3px solid #08546c;
    background-color: #ececec;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-right: 5px;
}

.input-gestionar {
    width: 40vh;
    padding: 8px;
    font-size: 16px;
    border: 3px solid #08546c;
    background-color: #ececec;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-left: 5px;
}

.input-contrasena {
    width: 40vh;
    padding: 8px;
    font-size: 16px;
    border: 3px solid #08546c;
    background-color: #ececec;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 15px;
}

.contra{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: start;
    justify-content: center;
}

.guardar {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    background-color: #08546c;
    color: #ececec;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.guardar:hover{
    transform: scale(1.1);
    color: #08546c;
    background-color: #ececec;
    border: 3px solid #08546c;
}
